<%= form_tag articles_path, :method => 'get' do%>

	<select name="created_at">
      <%= @date.each do |a| %>
      	<option value="<%= a.created_at %>"><%= a.created_at.to_formatted_s(:short) %></option>
      <% end %>
  	</select>
	<select name="category_id">
      <%= @category.each do |c| %>
      	<option value="<%= c %>"><%= c %></option>
      <% end %>
  	</select>
  	<select name="view">
      	<option value=view_1>Most Viewed</option>
     	<option value=view_2>Least Viewed</option>
  	</select>
	<%= submit_tag "Search", :class => "btn go float-left"%>
<% end %>