<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Whatsupdoc! </h1>
    <p>
      Hi <%= @user.first_name%> <%= @user.last_name%>,
      <br><br>
      You have successfully set an appointment with us. Please expect a call from your Doctor.
      
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>