<!-- Main Content -->
            <main class="main-content">
                <!-- Banner -->
                <section class="banner no-form bg-gray text-center">
                    <div class="wrapper">
                        <div class="about-banner">
                            <h1>Help improve more lives.</h1>
                            <h3>Give more convience to patients. Be their best doctor.</h3>
                        </div>
                    </div>
                </section>

                <!-- Doctor Slider -->
                <section class="section-content bg text-center bg-healthier-lifestyle" >
                    <div class="wrapper">
                        <div class="doctor-slider">
                            <h1>Your patients help you too!</h1>
                            <h3>Track your performance through our rating system.</h3>
                            <ul>
                                <li>
                                    <div class="table">
                                        <div class="cell">
                                            <figure>
                                                <img src="/system/doctors/avatars/000/000/002/medium/doctor-image-1.jpg?1467614062">
                                            </figure>
                                        </div>
                                        <div class="cell">
                                            <h2>Dr. John D. Cruz, MD</h2>
                                            <p><strong>Primary Care Doctor</strong></p>
                                            <p>Patient Ratings</p>
                                            <ul class="ratings">
                                                <li>
                                                    <i class="icon star"></i>
                                                </li>
                                                <li>
                                                    <i class="icon star"></i>
                                                </li>
                                                <li>
                                                    <i class="icon star"></i>
                                                </li>
                                                <li>
                                                    <i class="icon star"></i>
                                                </li>
                                                <li>
                                                    <i class="icon star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="section-content bg text-center bg-skyblue-login">
                    <div class="wrapper">
                        <h1>Why join the Team?</h1>
                        <div class="ads about-us clearfix">
                            <div class="half-content-left">
                                <h3>Better customer relationships</h3>
                                <p>Acquire your patients’ loyalty, by offering them convenient booking options using our system.</p>
                            </div>
                            <div class="half-content-right">
                                <h3>Have the right patients</h3>
                                <p>You can show in your profile the fields you specialize in, making it more easier for patients to find you.</p>
                            </div>
                            <div class="col-3">
                                <h4>Be there 24/7</h4>
                                <i class="icon clock"></i>
                                <p>Your schedule can be can be always viewed by your patients.</p>
                            </div>
                            <div class="col-3">
                                <h4>Growing Community</h4>
                                <i class="icon group"></i>
                                <p>Join our medical team that focuses in improving lives.</p>
                            </div>
                            <div class="col-3">
                                <h4>Increase rebooking</h4>
                                <i class="icon arrow-up"></i>
                                <p>Our simple booking system makes it easier for patients to set another appointment.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-content bg-green text-center">
                    <div class="wrapper">
                        <div class="got-questions">
                            <h1>Got questions?</h1>
                            <h3>Feel free to ask!</h3>
                            <a href="#" class="btn">Contact Us Now</a>
                        </div>
                    </div>
                </section>
            </main>