
<script type="text/javascript">
$(document).ready(function(){   

  $("button").click(function () {   

     var datetime = $(this).attr("value");   

     $("#appointment_date_of_appointment").val(datetime); 
     $("#appointment_date_of_appointment").focus();

     $("#appointment_doctor_id").val(<%= @doctor.id%>); 
    });

    $('.tab-links li a').on('click', function() {
        $('.tab-links li a.active').removeClass('active');
        $(this).addClass('active');
        $('.tab-content.active').removeClass('active');
        $(this.rel).addClass('active');
        return false;
    });

});
</script>

<main class="main-content">
    <section class="section-content looking-for bg-looking-for">
        <div class="wrapper42">
            <div class="looking-for-content text-center">
                <h1>Not what you're looking for?</h1>
            </div>
        </div>
    </section>
        <p class="text-center success"><%= flash[:notice] %></p>
        <section class="section-content doctor-profile tab-links">

            <div class="wrapper42">
                <aside class="side-bar doctor-profile text-center">
                    <figure>
                        <%= image_tag @doctor.avatar %>
                    </figure>
                    <div>
                    
                        <a href="#" rel="#schedule">Book an Appointment</a>
                    
                    </div>
                    <div>
                        <ul>
                            <% if user_signed_in? %>
                                <li>
                                    <a href="#" rel="#add-review">Add Reviews</a>
                                </li>

                            <% else %>
                                <li>
                                    <a href="#">Reviews</a>
                                    <p>Reviews <span>★★★★★</span></p>
                                </li>
                            <% end %>

                            <li>
                                <a class="about" href="#" rel="#about">About</a>
                            </li>
                            <li>
                                <a href="#" rel="#credential">Credentials</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <div class="profile-info">
                    
                
                    <div>
                        <h4 style="color: #000;"><%= @doctor.first_name %> <%= @doctor.last_name %></h4>
                        <p><%= @doctor.specialty %></p>                                                
                        <p><%= @doctor.hospital_affiliations %></p>
                      
                    </div>

                    <div class="tab-content" id="about">
                        <ul class="about">
                            <li>
                                <div>
                                <h4>Education</h4>
                                <p><%= @doctor.education %></p>
                                </div>
                            </li>

                            <li>
                                <div>
                                <h4>Hospital Affiliations</h4>
                                <p><%= @doctor.hospital_affiliations %></p>
                                </div>
                            </li>
                            
                            <li>
                                <div>
                                <h4>Board Certification</h4>
                                <p><%= @doctor.certification  %></p>
                                </div>
                            </li>
                            
                            <li>
                                <div>
                                <h4>Specialties</h4>
                                <p><%= @doctor.specialty %></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="credential">
                        <ul class="credential">
                            
                            <li>
                                <div>
                                <h4>In-Network Insurances</h4>
                                <p><%= @doctor.in_network_insurance %></p>
                                </div>
                            </li>
                            
                            <li>
                                <div>
                                <label>Professional Statement</label>
                                <p><%= @doctor.proffesional_statement %></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="shedule-slider" class="tab-content active">
                    <!-- Schedule Slider-->
                        <div id="shedule-slider" class="schedule-slider">

                            <ul class="schedule">
                            <% @schedule.each do |d| %>
                                    <li>
                                        <div class="date">
                                            <div>
                                                <h4 style="font-size: 18px"><%= d.start_date.strftime("%a") %></h4>
                                                <span><%= d.start_date.strftime("%b %e")%></span>
                                            </div>
                                        </div>
                                        <ul class="time">

                                        <% start = d.start_date.to_datetime %>
                                        <% finish = d.end_date.to_datetime %>
                                        <% interval = d.time_off%>
                                        <% while(start < finish) do %>
                                          
                                        <% start += interval.minutes %>

                                            <li>
                                            <button value='<%= start.strftime("%b %e %Y")%> <%= start.strftime("%I:%M%p")%>'> <%= start.strftime("%I:%M%p")%></button>
                                            </li>
                                         <% end %>   
                                        </ul>
                                    </li>
                            <% end %>        
                                </ul>
                        
                        </div>
                        
                        <%= render "appointments/form",:appointment => @appointment %>
                    </div>

                    <div class="tab-content" id="add-review">
                        <ul class="add-review">
                         <%= render "reviews/form",:review => @review %>
                        </ul>
                    </div>


                </div>
                <div class="clear"></div>
            </div>
        </section>

</main>

 <!-- JS -->
        <script type="text/javascript">
            $('.schedule-slider > ul').slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1
            });
        </script>