<div class="form-filter"> 

<%= form_for @search do |s| %>

    <%= s.select :specialty, options_for_select(@specialty), {include_blank: "Specialty"}%>

    <div class="select">
        <%= s.select :city, options_for_select(@city), {include_blank: "City/Province"}%>
    </div>

    <div class="select">
        <%= s.select :in_network_insurance, options_for_select(@in_network_insurance), {include_blank: "Insurance"}, { :class => 'col-s3 specialty' }  %>
    </div>

    <%= s.submit "FIND", class: "btn login", name:"Go" %>
   
<% end %>

</div>