    <main class="main-content">
                <section class="section-content-jakarta bg-directory-banner">
                    <div class="wrapper42">
                        <div class="healthier-lifestyle-content text-center">
                            <h1><b><div style="font-size:100%; color:white; font-family:'Montsrrat', sans-serif; 
">DAFTAR ALAMAT RUMAH SAKIT DI JAKARTA</b></div></h1>
                        </div>
                    </div>
                </section>

                <section class="section-content" style="margin-bottom: 0%;">
                   
                       <br><br>

<ul class="nav nav-tabs link_my" style="margin-left:20%; margin-top:-10%;">
    <li class="active"><a data-toggle="tab" href="#home" style="font-size:15px">Jakarta Barat</a></li>
    <li><a data-toggle="tab" href="#menu1" style="font-size:15px">Jakarta Pusat</a></li>
    <li><a data-toggle="tab" href="#menu2" style="font-size:15px">Jakarta Selatan</a></li>
    <li><a data-toggle="tab" href="#menu3" style="font-size:15px">Jakarta Timur</a></li>
    <li><a data-toggle="tab" href="#menu4" style="font-size:15px">Jakarta Utara</a></li>
  </ul>

  <div class="">
    <div id="home" class="tab-pane fade in active"><br><br>
      <h2 style="color:black;"><center><b>Jakarta Barat</b></center></h2>
      <table class="table table-hover" style="border:none; margin-top:2%;">
  <tr style="border:none;">
    <th style="border:none; font-size:150%;"><b>Nama Rumah Sakit</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b>Alamat</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Telp. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Fax. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
</tr>
  
  <% @hospital1.each do |hos1| %>
<tr>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.name %></td>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.address %></td>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.telphone %></center></td>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
</table>
      </div>

  <div id="menu1" class="tab-pane fade">
     <div style="margin-top:-193%;"><br>
       <h2 style="color:black;"><center><b>Jakarta Pusat</b></center></h2>
       <br>
      <table class="table table-hover" style="border:none;  ">
  <tr style="border:none;">
    <th style="border:none; font-size:150%;"><b>Nama Rumah Sakit</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b>Alamat</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Telp. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Fax. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
</tr>
  
  <% @hospital2.each do |hos1| %>
<tr style="border:none;">
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
</table></div>
    </div>

    <div id="menu2" class="tab-pane fade">
      <div style="margin-top:-338%;">
        <h2 style="color:black;"><center><b>Jakarta Selatan</b></center></h2>
        <br>
        <table class="table table-hover" style="border:none; ">
  <tr style="border:none;">
    <th style="border:none; font-size:150%;"><b>Nama Rumah Sakit</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b>Alamat</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Telp. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Fax. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
</tr>
  
  <% @hospital3.each do |hos1| %>
<tr style="margin-top:-100%;">
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
</table></div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <div style="margin-top:-515%;"><br>
        <h2 style="color:black;"><center><b>Jakarta Timur</b></center></h2>
        <br>
        <table class="table table-hover" style="border:none; ">
  <tr style="border:none;">
    <th style="border:none; font-size:150%;"><b>Nama Rumah Sakit</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b>Alamat</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Telp. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Fax. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
</tr>
  
  <% @hospital4.each do |hos1| %>
<tr style="margin-top:-100%;">
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
</table></div>
    </div>
     <div id="menu4" class="tab-pane fade">
       <div style="margin-top:-455%;"><br>
        <h2 style="color:black;"><center><b>Jakarta Utara</b></center></h2>
        <br>
  <table class="table table-hover" style="border:none; ">
  <tr style="border:none;">
    <th style="border:none; font-size:150%;"><b>Nama Rumah Sakit</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b>Alamat</b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Telp. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
    <th style="border:none; font-size:150%;"><b><center>Fax. (021)</center></b><hr style="margin-top:1%; border-top:1px solid #919499;"></th>
</tr>
  
  <% @hospital5.each do |hos1| %>
<tr style="margin-top:-100%;">
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;"><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
</table></div>
    </div>
  </div>
      </section>
            </main>