    <main class="main-content">
                <section class="section-content-jakarta bg-directory-banner">
                    <div class="wrapper42">
                        <div class="healthier-lifestyle-content text-center">
                            <h1><b><div style="font-size:100%; color:white; font-family:'Montsrrat', sans-serif; 
">DAFTAR ALAMAT RUMAH SAKIT DI JAKARTA</b></div></h1>
                        </div>
                    </div>
                </section>

                <section class="section-content ">
                   
                        <h2 style="margin-top:-4%; color:black;"><center><b>Jakarta Barat</b></center></h2><center><div class="pagination">
	<div class="link_my">
  <a href="../jakartas">Jakarta Barat</a>
  <a href="jakartas/show2">Jakarta Pusat</a>
  <a href="jakartas/show3">Jakarta Selatan</a>
  <a href="jakartas/show4">Jakarta Timur</a>
  <a href="jakartas/show5">Jakarata Utara</a>
  </div>
</div></center><br><br>

<table class="table table-hover" style="border:none;">
	<tr style="border:none;">
    <th style="border:none; font-size:150%;"><b>Nama Rumah Sakit</b><hr style="margin-top:1%; border-top:1px solid black;"></th>
    <th style="border:none; font-size:150%;"><b>Alamat</b><hr style="margin-top:1%; border-top:1px solid black;"></th>
    <th style="border:none; font-size:150%;"><b>Telp. (021)</b><hr style="margin-top:1%; border-top:1px solid black;"></th>
    <th style="border:none; font-size:150%;"><b>Fax. (021)</b><hr style="margin-top:1%; border-top:1px solid black;"></th>
</tr>

<div class="tab-content">
<div id="1" class="tab-pane fade in active">

</div>


</div>
    </table>


      </section>
            </main>