<div class="register text-center" style="margin-top: 65px;">


		<%= simple_form_for ([@doctor, @doctor.reviews.build]) do |f| %>

		<div class="container">
		<ul>
			<li><%= f.input :rating %></li>
			<li><%= f.input :comment %></li>
			<li><%= f.button :submit %></li>
		</ul>
		<% end %>

		</div>